{php $newUI = true;}
{template 'common/header'}
<script type="text/javascript">
	require(['angular'], function(angular){
		angular.module('app', []).controller('ucSetting', function($scope, $http) {
			$scope.uc = {php echo json_encode($qyuser);};
		});
		angular.bootstrap(document, ['app']);
		 
		$("#form1").submit(function(){
			if($(':radio[name="status"]:checked').val()=='1'){
				if($.trim($(':text[name="qyusersoftip"]').val()) == '') {
					util.message('必须输入应用地址', '', 'error');
					return false;
				}
				
				if($.trim($(':text[name="qyusersoftpwd"]').val()) == '') {
					util.message('必须输入通信密钥.', '', 'error');
					return false;
				}
				
			}
		});
	});
</script>
<ul class="nav nav-tabs">
	<li class="active"><a href="{php echo url('mc/qyuser')}"><i class="icon-user"></i> qy会员系统整合</a></li>
</ul>
<div class="main">
	<form id="form1" action="{php echo url('mc/qyuser')}" method="post" class="form-horizontal form ng-cloak"  ng-controller="ucSetting">
		<div class="panel panel-default">
			<div class="panel-heading">
				设置会员系统参数
			</div>
			<div class="panel-body">
				<div class="alert alert-info">
					<p>
						使用该功能整合qy会员系统
					</p>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">启用qy会员系统整合</label>
					<div class="col-sm-8 col-xs-12">
						<label class="radio-inline">
							<input type="radio" id="status1" name="status" ng-model="uc.status" value="1"/>
							开启
						</label>
						<label class="radio-inline">
							<input type="radio" id="status0" name="status" ng-model="uc.status" value="0"/>
							关闭
						</label>
						<span class="help-block">如果你不清楚此功能的作用, 请咨询您的技术人员.</span>
					</div>
				</div>
				<div  ng-show="uc.status == '1'">
					
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">应用地址:</label>
						<div class="col-sm-8 col-xs-12">
							<input type="text" name="qyusersoftip" class="form-control" value="{{uc.qyusersoftip}}" autocomplete="off">
							<span class="help-block">最好是内网地址,格式为 http://127.0.0.1:80/</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">通信密钥:</label>
						<div class="col-sm-8 col-xs-12">
							<input type="text" name="qyusersoftpwd" class="form-control" value="{{uc.qyusersoftpwd}}" autocomplete="off"/>
							<span class="help-block">通信密钥需要和qy会员系统相匹配.</span>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
{template 'common/footer'}
